.container {
  display: flex;
  flex-direction: row;

  width: 100%; height: 100%;
}

.main-content {
  width: 100%; height: 100%;
}

main {
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;

}


@media (max-width: 1920px) {
  .container {
    width: 1920px; height: 100vh;
  }

  ul {
    margin: 100% 0px 0px 0px;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 1366px; height: 100vh;
  }

  ul {
    margin: 50% 0px 0px 0px;
  }
}