nav {
    height: 100vh; width: 10px;
}

.nav-mask {
    height: 100%; width: 60px;
    overflow: hidden;
    position: fixed;
    background-color: #0A0D14;
    transition: width 0.3s ease;
}

.nav-mask:hover {
    width: 200px;
}

.nav-container {
    height: 100%; width: 200px;
    float: left;
    display: flex;
    flex-direction: column; 
    
}

.logo {
    width: 16px;
    
}

.logo a {
    padding: 3; margin: 20;

    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 80% 0px 0px 0px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

li {
    display: block;
    width: 80%;
}

a {
    display: flex;
    align-items: center;
    gap: 20px;

    width: 90%; height: 10%;
    
    text-decoration: none;
    padding: 18px;
    font-size: 12pt;
    color: #FFFFFF;
    transition-delay: all 0.3s ease;
}

a:hover {
    border-radius: 8px;
    background-color: #262626;
}