nav {
    height: 100%; width: 200px;
    float: left;
}

.logo {
    width: 40px;
    
}

.logo a {
    padding: 3; margin: 20;

    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

li {
    display: block;
    width: 100%;
}

a {
    display: flex;
    align-items: center;
    gap: 20px;

    width: 90%; height: 10%;
    
    text-decoration: none;
    padding: 8px; margin: 4.5px;
    font-size: 12pt;
    color: #FFFFFF;
    transition-delay: all 1s;
}

a:hover {
    border-radius: 8px;
    background-color: #262626;
}