.profile-container {
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    overflow-y: scroll;
    scrollbar-width: none;
    width: 100%; height: auto;
}

.profile-page-info {
    margin-top: 50px;
    gap: 50px;
    width: 670px; height: auto;

    display: flex;
    flex-direction: row;
}

.profile-pic-mold {
    width: 180px; height: 180px;
    border-radius: 100%;
    border: 1px solid gray;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic-mold img {
    height: auto; width: 180px;
}

.account-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 670px; height: auto;
}

.profile-btn button {
    height: 50px; width: 50%;
    background-color: #262626;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 12pt;
    cursor: pointer;
}

.profile-btn button:hover {
    background-color: #333333;
}

.profile-images {
    border-top: 1px solid #262626;
    width: 908px; height: auto;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.images-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
}
