.reels-container {
    width: auto; height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

    margin-left: 100px;
}

.reels-info {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 40px;
    font-size: 10pt;

}

.profile-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
}

.profile-info h6 {
    font-weight: bold;
    font-size: 10pt;
}

.profile-info h6 b {
    color: blue;
}

.reels-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    margin-left: 230px;

}

.reels-btn button {
    width: 60px; height: 60px;
    padding: 20px;
    border-radius: 100%;
    cursor: pointer;
    color: white;
    border: none;
    background-color: #333333;

    display: flex;
    align-items: center;
    justify-content: center;
}